[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/echo "I'm unstoppable!"
ExecStop=/usr/bin/systemctl start --no-block unstoppable.service
