[Unit]
Description=Testsuite service
After=systemd-tmpfiles-setup.service
Before=getty-pre.target
Wants=getty-pre.target

[Service]
WorkingDirectory=/testsuite
ExecStart=/testsuite/run-tmpfiles-tests.sh
ExecStartPost=/bin/sh -x -c 'systemctl --state=failed --no-pager > /failed; echo SUSEtest OK > /testok'
Type=oneshot
StandardOutput=kmsg
StandardError=kmsg
